

header {
  background-color: #1abc9c;
  color: #fff;
  padding: 20px;
  text-align: center;
  height: 100px;
  
}

h1 {
  display: block;
  margin: 0;
  text-align: center;
}

h2 {
  margin-top: 30px;
}

p{
  font-size:20px;
}

.logo {
  width: 15%;
  display: block;
  margin-top: -50px;
}

/*Matrices*/
.matrix-list {
  margin: 20px;
}

.matrix {
  border: 5px solid #16a085 ;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

#matrix-sum-sub,
#matrix-multiply,
#matrix-transpose,
#matrix-equations {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
}

#matrix-sum-sub div,
#matrix-multiply div,
#matrix-transpose div,
#matrix-equations div {
  margin: 10px;
}

textarea {
  width: 200px;
  height: 100px;
  border: 3px solid#16a085;
  border-radius: 3px;
}

.buttons{
  width: 100%;
  text-align: center;
  
}
/* CSS */





button:hover {
  background-color:#16a085;
  color: white;
}

button:active {
  background-color:#16a085;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

button {
  border-radius: 10px ;
  color: none;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  background-color:#bdc3c7;
}




/* Media queries para tamaños de pantalla */

/* Pantallas pequeñas (móviles) */
@media only screen and (max-width: 767px) {

}

/* Pantallas medianas (tablets) */
@media only screen and (min-width: 768px) and (max-width: 1023px) {

}

/* Pantallas grandes (laptops y pantallas más grandes) */
@media only screen and (min-width: 1024px) {

}

* {
  box-sizing: border-box;
}
body {
  font-family: "Open Sans";
  background: #2c3e50;
  color: #ecf0f1;
  line-height: 1.618em;
}
.wrapper {
  max-width: 50rem;
  width: 100%;
  margin: 0 auto;
}
.tabs {
  position: relative;
  margin: 3rem 0;
  background: #1abc9c;
  height: 30rem;
}
.tabs::before,
.tabs::after {
  content: "";
  display: table;
}
.tabs::after {
  clear: both;
}
.tab {
  float: left;
}
.tab-switch {
  display: none;
}
.tab-label {
  position: relative;
  display: block;
  line-height: 2.75em;
  height: 3em;
  padding: 0 1.618em;
  background: #1abc9c;
  border-right: 0.125rem solid #16a085;
  color: #fff;
  cursor: pointer;
  top: 0;
  transition: all 0.25s;
  font-size: 1.1em;
  
}
.tab-label:hover {
  top: -0.25rem;
  transition: top 0.25s;
}
.tab-content {
  height: 40rem;
  position: absolute;
  z-index: 1;
  top: 2.75em;
  left: 0;
  padding: 2.618rem;
  background: #fff;
  color: #2c3e50;
  border-bottom: 0.25rem solid #bdc3c7;
  opacity: 0;
  transition: all 0.35s;
}
.tab-switch:checked + .tab-label {
  background: #fff;
  color: #2c3e50;
  border-bottom: 0;
  border-right: 0.125rem solid #fff;
  transition: all 0.35s;
  z-index: 1;
  top: -0.0625rem;
}
.tab-switch:checked + label + .tab-content {
  z-index: 2;
  opacity: 1;
  transition: all 0.35s;
}

#toggle{
  visibility: hidden;
  opacity: 0;
  position: relative;
  z-index: -1;
}

#toggle:checked ~ dialog {
  display: block;
}

.labelAyuda{
  border-radius: 10px ;
  color: black;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  background-color:#bdc3c7;
  

}

.labelAyuda:hover {
  background-color:#16a085;
  color: white;
}

.labelAyuda:active {
  background-color:#16a085;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
@keyframes appear {
  0%{
    opacity: 0;
    transform: translateY(-10px);
  }
}

dialog{
  animation: appear 350ms ease-in 1;
  max-width: 500px;
  margin-top: -20rem;
  border: 5px solid #16a085 ;
  border-radius: 50px;
}
